<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <title>Subharthi's Portfolio</title>
    <meta name="theme-color" content="#000000" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Mooli&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div id="text">sh</div>
        <div id="navbar">
          <a href="#first_banner"><div class="navbar_link">Home</div></a>
          <a href="#skills"><div class="navbar_link">Skills</div></a>
          <a href="#Projects"><div class="navbar_link">Projects</div></a>
          <a href="#Experience"><div class="navbar_link">Experience</div></a>
          <a href="#Education"><div class="navbar_link">Education</div></a>
          <a href="#Contact"><div class="navbar_link">Contact</div></a>
          <a href="#Blogs"><div class="navbar_link">Blogs</div></a>
        </div>
      </div>
      <div id="main">
        <div id="first_banner" class="section hidden">
          <div id="text_layer" class="layer">
            <img src="./images/mypic.jpg" width="100" height="100" id="mypic" />
            <div id="text">
              I'm <span id="name">Subharthi Hazra</span>, a
              <span id="prof">Software Developer</span>
              from Kolkata, India !
            </div>
          </div>

          <div id="pic_layer" class="layer"></div>
          <div id="scroll_down">
            <div id="wrapper">
              <div id="logo"></div>
            </div>
          </div>
          <div id="pointer_circle">
            <div id="actual_circle"></div>
          </div>
        </div>
        <div id="skills" class="section hidden">
          <br /><br /><br />
          <div id="skills_shelf">
            <% for (let i = 0; i < portfolioData.skills.length; i++) { //fg ///
            const skill = portfolioData.skills[i]; %>
            <div
              class="item"
              style="
                --skill-level-bar-width: <%= skill.level %>%;
                --skill-color: <%= skill.color %>;
                --skill-appear-delay: <%= i * 0.1 %>s;
              "
            >
              <div
                class="image"
                style="background-image: url('<%= skill.imgUrl %>')"
              ></div>
              <div class="name"><%= skill.name %></div>
              <div class="level">
                <div class="bar"></div>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
      <div id="footer">ddd</div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.topology.min.js"></script>
    <script src="https://unpkg.com/kinet@2.2.1/dist/kinet.min.js"></script>
    <script type="text/javascript" src="./index.js"></script>
  </body>
</html>
